/* .heading{
    color:blue;

}
*{
    background-color:beige; */
/* } */
/* #btn-1{
    background-color: chocolate;
    color:white;
}

#btn-2{
    background-color: aqua;
    color:black;
} */

/* .light-mode{

    color: black;
    background-color: beige;
}

.dark-mode{
    color:white;
    background-color: black;
} */